@import "../App.scss";

.section-timer {
  &__timer-input {
    border-radius: 8px;
    padding: 1rem;
    width: 80%;
    outline: none;
    border: 2px solid #cccccc2d;
    background-color: transparent;
    color: color-mix(in srgb, #{$primary-color} calc(var(--timer-progress) * 100%), #{white});
    font-size: 2rem;
  }
}
