@import "../App.scss";

.section-timer {
  &__counter-display {
    margin-top: 1rem;
  }

  span {
    color: color-mix(in srgb, #{$primary-color} calc(var(--timer-progress) * 100%), #{$end-color});
    text-shadow: 1px 1px 5px
      color-mix(in srgb, #{$primary-color} calc(var(--timer-progress) * 100%), #{$end-color});
    font-weight: 500;
    font-size: 6rem;
    display: block;
    width: 100%;
  }
}
